.container_24{
	background-color: #ffffff;
}
.clear {
	clear: both;
}
#logo a, #logo a:hover{
	background-color: ;
}
h1{
	color: #79593C;
}
h5{
	margin: 0 0 5px 0;	
}
#header{
	float: left;
}
#header img{
	padding: 10px;
}
#navigation ul{
	float: right;
	margin: 15px 0px;
}
#navigation li{
	margin: 0px;
}
#feature{
	border-top: 6px solid #99CCCC;
	border-bottom: 6px solid #99CCCC;
	background-color: #FCFC7C;
	padding: 15px 30px 15px 15px;
}
ul {
	list-style: none;
	margin: 0 0 10px 0px;
}
li {
	display: inline;
	margin: 10px 10px 10px 0px;
}
#navigation a, #filter a{
	text-decoration: none;
	color: #ffffff;
	background-color: #99CCcc;
	padding: 5px;
	background: display;
}
#navigation a:hover, #filter ul a:hover{
	background-color: #79593c;
}

/***********
Submit Form
**********/
#submit_form{
	color: #898989;
	padding: 0 0 5px 0;
}
#report_map {
  height: 280px;
}
#title, #description, #tags, #location{
	width: 300px;
}
#title, #description, #tags, #location, #change{
	width: 400px;
 	background-color: #ffffff;
 	border:  1px solid #E0E0E0;
 	padding: 2px 2px 2px 6px;
 	margin: 0 0 10px 0px
}
#description{
	height: 50px;
}
#location, #change{
	width: 300px;
}
div.button{
	margin: 20px 0 0 10px;
  float: left;
}
div.button a {
	background-color: #FF8939;
	padding: 10px 25px;
	-webkit-border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #F47119;
}
div.button a:hover{
	background-color: #DD691B;
	border: 1px solid #F47119;
}

.sidebar_section div.button {
	margin: 10px 0px;	
	float: none;
}

.sidebar_section div.button a {
  display: block;
  text-align: center;
}


/***********
Similar Reports
**********/
#similar_reports{
		
}
.similar_title{
	border-top: ;
}

/***********
City Dashboard
**********/
#map{
	margin: 0 30px 0 0;
}
.label{
	color: grey;
	font-size: 12px;
}
#city_reports p{
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 10px 0;
}
#city_reports a{
	text-decoration: none;
	font-weight: 800;
}
#city_reports a:hover{
	text-decoration: none;
}
.stat_number{
	background-color: orange;
	padding: 5px;
	margin: 0 5px 5px 0;	
}
.stat_number li{
	margin: 0px 0px 0px 0;
}


/***********
Browse Submitted Issues
**********/
.report_sum, .sidebar_section{
	border-top: 1px solid #E0E0E0;
	padding: 15px 0 0 0;
	clear: left;
}
.report_sum img{
	float:  left;
	margin: 0 15px 0 0;
}
.votes{
background-color: green;
color: #ffffff;
padding: 10px 0px 12px 0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-size: 20px;
text-align: center;
width: 120px;
float: left;
margin: 0 10px 0 0;
	
}

.votes a{
	color: white;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	text-decoration: none;
	
}
.votes a:hover{
	background-color: #6BAA29;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;


}
.votes {
	margin: 0 15px 0 0;
}
#single_issue_sidebar{
	margin: 20px 0 0 0;
}




#main_content{
	margin: 30px 30px 0 25px;
}
.report_actions ul{
	margin:7px 0 10px ;
	clear: both;
}
.report_actions li{
	margin: 0px;
	padding-bottom: 20px;
}
.report_actions{
	margin: 0 0 40px 0;
}
.report_actions a{
	color: #898989;
	background-color: #E0E0E0;
	-webkit-border-radius: 10px;
	padding: 5px 10px;
	font-size: 11px;
	text-decoration: none;
}
.report_actions a:hover{
	color: #2D2D2D;
	background-color: #A0A0A0;
}
.report_stats .user {
  /*font-size: larger;*/
}
.report_stats .user img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.report_stats .stat {
  font-weight: bold;
  font-size: larger;
}
.supported a {
	background-color: green;
	color: #ffffff;
}
.support_numbers p {
	display: inline;
	margin: 10px 0 10px 0;
}
.text_description{
}

#sidebar{
	margin:  16px 0 0 0;
	
}

/***********
Browse Submitted Issues
**********/
#single_issue_feature{
	font-size: 18px;
	margin: 15px;
	
}
#issue_stats{
	clear: left;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
}
.date{
	font-size: 12px;
	color: green;
	margin: 0px;

}

/***********
Footer
**********/
#footer {
	background-color: #79593C;
	border-top: 3px solid #5B412C;
}
#footer ul{
	margin: 25px 0px 25px 25px;
	white-space: decreases;	
}
#footer a{
	padding: 0px;
	background-color: #79593C;
	color: #A0A0A0;
	text-decoration: none;
}
#footer a:hover{
	padding: 0px;
	background-color: #79593C;
	color: #E0E0E0;
}
