body {
  background: #FCFC7C;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px #E0FFFF;
  #margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.container_24{
	background-color: #FCFC7C;
}
.clear {
	clear: both;
}
#header{
	float: left;
	border-bottom: 6px solid #EA3D1B;
}
#header h1{
  background: #EA3D1B;
  color: #FCFC7C;
  padding: 3px 50px 10px 25px;
  font-size: 70px;
  text-align: right;
}
#header h1 img{
  float:left;
}
#header h1 a{
  text-decoration: none;
  color: #FCFC7C;
}
#footer{
  background: #EA3D1B;
  color: #FCFC7C;
  padding: 3px 50px 10px 25px;

}
#footer a{
  text-decoration: none;
  color: #FCFC7C;
}
#feature{
	border-bottom: 6px solid #EA3D1B;
}
.flipsummary{
  float: left;
  width: 470px;
  border-right: 5px solid #EA3D1B;
}
.main_column {
	float: lef;
}
ul {
	list-style: none;

}
li {
	display: inline;
	margin: 10px 10px 10px 0px;
}

