* {
  float: none;       /* Screens are not big enough to account for floats */
 
/* 
  background: #fff;
*/  
  /*  As much contrast as possible */
  

  color: #000;
}

/* Slightly reducing font size to reduce need to scroll */
body { font-size: 80%; }

/* commenting out to allow text to wrap
a {
  white-space:nowrap;
}
*/

h4, h5, h6 {
  margin: 2px 0px;

	word-wrap: break-word;
}

/*************
PASTED FROM APPLICATION STYLESHEET
*************/

.grid_12{
	clear: both;
	
}
#logo{

background-repeat: no-repeat;
background-size: 100px;
}
#logo p{
	display: none;
}
#logo a, #logo a:hover{
	
}
h1{
	color: #79593C;
	font-size: 125%;
	margin: 5px 0 0 0;
}
h5{
	margin: 0 0 5px 0;	
}
#header{
  margin-top: 28px;
}
#header img{
	padding: 0;
	clear: right;
}
#navigation ul{
	margin: 0;
	text-align: center;
}
#navigation li{
	margin: 0px;
}
#feature{
	border-top: 6px solid #99CCCC;
	border-bottom: 6px solid #99CCCC;
	background-color: #FCFC7C;
	padding: 15px 30px 15px 15px;
	display: in;
	clear: both;

}
ul {
	list-style: none;
	margin: 0 0 10px 0px;
}
li {
	display: inline;
	margin: 0px;/*10px 20px 10px 0px*/
}
#navigation a, #filter a {
	text-decoration: none;
	color: #ffffff;
	background-color: #99CCcc;
	padding: 5px;
	background: display;
}

#navigation a:hover, #filter ul a:hover{
	color: #79593c;
}

/***********
Submit Form
**********/
#submit_form{
	color: #898989;
	padding: 0px 0 5px 0;
	
}
#title, #description, #tags, #location{
	width: auto;
}
#title, #description, #tags, #location, #change{
	width: auto;
 	background-color: #ffffff;
 	border:  1px solid #E0E0E0;
 	padding: 2px 2px 2px 6px;
 	margin: 0 0 10px 0px
}
#description{
	height: 50px;
}
#location, #change{
	width: auto;
}
div.button{
	margin: 20px 5px 0 0;	
	float: left;
}
div.button a {
	background-color: #FF8939;
	padding: 10px 15px;
	-webkit-border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #F47119;
}
div.button a:hover{
	background-color: #DD691B;
	border: 1px solid #F47119;
}

.clear {
  clear: both;
}


/***********
Similar Reports
**********/


#similar_reports{
	margin: 25px 0 0 0; 	
	background-color: #FCFC7C;
	border-top: 1px solid grey;
	padding: 10px 0 0 0;
}
#similar_reports .report {
  clear: both;
}
#similar_reports .report h5 {
	border-top: 1px solid #E0E0E0;
  font-size: 110%;
}
#similar_reports .report_detail {
  width: 60%;
  float: left;
}
/***********
City Dashboard
**********/
#map{
	margin: 0 30px 0 0;
}
#map h5 {
	clear: both;
}
.label{
	color: grey;
	font-size: 12px;
}
#city_reports p{
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 10px 0;
}
#city_reports a{
	text-decoration: none;
	font-weight: 800;
}
#city_reports a:hover{
	text-decoration: none;
}
.stat_number{
	background-color: orange;
	padding: 5px;
	margin: 0 5px 5px 0;	
}
.stat_number li{
	margin: 0px 0px 0px 0;
}


/***********
Browse Submitted Issues
**********/
.report_sum, .sidebar_section{
	border-top: 1px solid #E0E0E0;
	padding: 15px 0 0 0;
	clear: left;
}
.report_sum img{
	float:  left;
	margin: 0 15px 0 0;
}
.votes{
background-color: green;
color: #ffffff;
padding: 10px 0px 12px 0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-size: 20px;
text-align: center;
width: auto;
float: left;
margin: 0 10px 0 0;
	
}

.votes a{
	color: white;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	text-decoration: none;
	
}
.votes a:hover{
	background-color: #6BAA29;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.votes {
	margin: 0 15px 0 0;
}
#single_issue_sidebar{
	margin: 20px 0 0 0;
}


ul{
	margin: 0 0 0 0;
}

#main_content{
	margin: 5px;/*30px 30px 0 25px;*/
	clear: both;
}
.report_details {
  width: 60%;
  float: left;
}

.report_actions {
  width: 40%;
  float: left;
}

.report_actions ul{
 	margin: 0px
	}
.report_actions li{
	margin: 5px 2px;
	display: block;
}
.report_actions{
	margin: 0px;
}

.report_stats .user img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.report_stats .stat {
  font-weight: bold;
}


.report_actions li a{
  margin: 0 0 0 0;
	color: #898989;
	background-color: #E0E0E0;
	padding: 5px 10px;
	font-size: 11px;
	text-decoration: none;
	display:block;
}

.report_actions a:hover{
	color: #2D2D2D;
	background-color: #A0A0A0;
}
.report_actions li.supported a {
	background-color: green;
	color: #ffffff;
}
.support_numbers p {
	display: inline;
	margin: 10px 0 10px 0;
}
.text_description{
}

#sidebar{
	margin:  116px 0 0 0;
	
}

/***********
Browse Submitted Issues
**********/
#single_issue_feature{
	font-size: 18px;
	margin: 15px;
	
}
#issue_stats{
	clear: left;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
}
.date{
	font-size: 12px;
	color: green;
	margin: 0px;

}


/***********
Footer
**********/
#footer {
	border-top: 3px solid brown; 
	margin: 5px;
}

/**
ACHIEVEMENTS
**/
#achievements {
  border-bottom: 1px solid black;
}
.achievement {
  display:block;
  clear: both;
  border-top: 1px solid black;
  height: 40px;
  padding: 0 0 0 10px;
  margin: 0px;
}
.achievement p {
  float: left;
  margin: 0px;
}
.achievement .name { 
/*  width: 150px;*/
  border-bottom: 1px solid #e0e0e0;
  float: none;
  font-weight: bold;
}
.achievement .description { 
  width: 200px;
}
.achievement .has_achieved { 
  width: 50px;
}
.achievement .achieved {
  color: green;
  font-weight: bold;
}
.achievement .not_achieved {
  color: red;
  font-weight: bold;
}