<% content_for(:feature) do %>
	<h1>Welcome to your dashboard</h1>
	<p>On this page you can track your progress and awards as you help to report and fix issues around your city.</p>
<% end %>

<% content_for(:sidebar) do %>
  <% if !is_mobile_device? %>
    <% render :partial => 'shared/sidebar' %>
  <% end %>
<% end %>

<h2>Achievements</h2>

<ul id="achievements">
<% Achievement.all.each do |achievement| %>
<li class="achievement">
  <p class="name"><%= achievement.name %></p>
  <p class="description"><%= achievement.description %></p>
  <p class="has_achieved"><%= @user.has_achieved?(achievement) ? raw('<span class="achieved">Yes</span>') : raw('<span class="not_achieved">No</span>') %></p>
</li>
<% end %>
</ul>