<div id="userprofile" class="grid_7">
  <h2><%= current_user.name %></h2>
  <%= image_tag current_user.avatar_url.gsub('_normal',''), :style => 'height:200px;' %>
   
</div>
<div class="grid_6">
  <h3>My Reports</h3>
  <ul>
  <% current_user.reports.each do |report|%>
    <li><%= link_to report.title, report_path(report) %></li>
  <% end %>
</ul>
</div>
