

  <% if current_user %>
    <h1>Let's build a great city together!</h1>
    <p>Click "Support This" to vote for the issues you think are the most important. The issues with the most votes will get the most attention. You can place 5 votes per day, so come back daily!</p>

    <p>Earn more points by submitting issues, voting, fixing problems and getting other people to view the issues you share. Be the first to report an issue to score the most points.</p>
    <div class="button"><%= link_to "Submit A Report", new_report_path, :id => 'create-report-link' %></div>
  <% else %>
    <% if is_mobile_device? %>
    
      <h1>Welcome to Kajoo</h1>
      <p>Kajoo is a civic engagement platform in which citizens collaborate to improve their city. You report problems in your city, vote on the top problems and the community works together to solve them.</p>

      <div class="button"><%= link_to "Get Started", user_omniauth_authorize_path(:twitter), :id => 'sign_up' %></div>
    <% else %>
    
      <div id="home_pitch" class="grid_11">
        <h1>Welcome to Kajoo</h1>
        <p>Kajoo is a civic engagement platform in which citizens collaborate to improve their city. You report problems in your city, vote on the top problems and the community works together to solve them.</p>
        Try these:
        <ul>
          <li>Beautifying a park</li>
          <li>Fixing or sealing roads</li>
          <li>Turning a vacant lot into a community garden</li>
        </ul>
        <p><strong>Watch our video to hear what folks in Austin, Texas would change about the city they love</strong></p>
        <div class="button"><%= link_to "Get Started", user_omniauth_authorize_path(:twitter), :id => 'sign_up' %></div>
      </div>
      <div id="home_video" class="grid_11 omega">
        <iframe src="http://player.vimeo.com/video/20919967" class="grid_12" height="270" frameborder="0"></iframe>
      </div>
    <% end %>
    
  <% end %>

