<p>Click "Support This" to vote for the issues you think are the most important. The issues with the most votes will get the most attention. You can place 5 votes per day, so come back daily!</p>
<p>Earn more points by submitting issues, voting, fixing problems and getting other people to view the issues you share. Be the first to report an issue to score the most points.</p>
