

<div class="grid_18"><!--feature left starts-->

		<h1>Sign Up to promote important issues</h1>
		<p>Lorizzle ipsizzle dolor the bizzle amizzle, ma nizzle adipiscing elit. Nullam sapien velit, gangsta volutpizzle, pot black, gravida vizzle, . Pellentesque rizzle tortizzle. Sizzle erizzle. Ma nizzle at dolor dapibus tempizzle pimpin'. Mauris pellentesque nibh shiz mah nizzle. Crackalackin gangster tortizzle. Pellentesque shizzlin dizzle yippiyo nisi. In ma nizzle own yo' platea dictumst. Boom shackalack dapibizzle. Curabitizzle pot urna, pretizzle shizzlin dizzle, gangsta brizzle, mofo vitae, nunc. Funky fresh suscipit. Mah nizzle black velit sizzle mammasay mammasa mamma oo sa.</p>
    <% if(current_user) %>
      <%= link_to "Submit A Report", new_report_path, :id => 'create-report-link' %>
    <% else %>
      <%= link_to "Sign Up", user_omniauth_authorize_path(:twitter), :id => 'sign_up' %>
    <% end %>

</div><!--Closes feature left content-->

