<% content_for(:feature) do %>
  <h2>We're Kajoo. We're new here. We need your help!</h2>	
  <p>We're trying to put tools for civic engagement in the hands of as many people as possible. It's not easy, but with your help it's possible. Take 5 minutes out of your day to do any of the things below, and know that you've helped make the world a little bit better.</p>
<% end %>

<% content_for(:sidebar) do %>
  <% render :partial => 'shared/sidebar' %>
<% end %>


<ul id="waystohelp">
<li><strong>Socialites &rarr;</strong> <em>Send this page</em> to any friends who may be interested! Particularly people in the media, or others at SXSW who may wish to help.</li>
<li><strong>Investors &rarr;</strong> <em>Buy "virtual shares" in Kajoo</em> at <a href="http://startupbus.com/game/startup_game_profiles/79-kajoo-org">The StartupBus Investment Game</a>.</li>
<li><strong>Ruby Coders &rarr;</strong> <b>Fork the code</em> for your own city at <a href="https://github.com/mjording/kajoo">on GitHub</a>, and send pull requests for cool new features. Cities that build working, usable systems will get their own subdomain at [mycity].kajoo.org.</li>
<li><strong>Twitterati &rarr;</strong> Tweet about Kajoo! Click here: <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://kajoo.org" data-text="I just joined #kajoo, the Open Source civic engagement platform. Fix the city you love." data-count="horizontal" data-via="kajooit" data-related="xero:Xero: StartupBus Sponsors">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
<li><strong>Bring us Open Data &rarr;</strong> We want connections to open civic data systems and organisations so that we can fill Kajoo with existing issues that people can <em>act on today</em>.
<li><strong>Ideas ideas ideas &rarr;</strong> Bring us your ideas, but better yet <em><a href="https://github.com/mjording/kajoo">your code</a></em>. 
</ul>