<div id="similar_reports" class="grid_10">

<script>
  $(document).ready(function(){
    var myOptions = {
	      zoom: 4,
	      mapTypeControl: true,
	      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
	      navigationControl: true,
	      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
	      mapTypeId: google.maps.MapTypeId.ROADMAP      
	    }	
  	map = new google.maps.Map(document.getElementById("report_map"), myOptions);
  	
  	setTimeout(initialize, 10);
	});
	
function initialize()
{
	if(geo_position_js.init())
	{
		$('#current').html("<img src=\"/images/spinner.gif\"/> Finding Location...");
		geo_position_js.getCurrentPosition(show_position,function(){$('#current').html("Couldn't get location")},{enableHighAccuracy:true});
	}
	else
	{
		$('#current').html("Automatic Location not available");
	}
}

function show_position(p)
{
  geocoder = new google.maps.Geocoder();
  $('#report_lat').val(p.coords.latitude);
  $('#report_lon').val(p.coords.longitude);
  var pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);

  geocoder.geocode({'latLng': pos}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var address = results[1].formatted_address;
      $('#report_address').val(address);
      $('#current').html(address);
    }
  });
   map.setCenter(pos);
	map.setZoom(14);

	var infowindow = new google.maps.InfoWindow({
	    content: "<strong>yes</strong>"
	});
	var marker = new google.maps.Marker({
	    position: pos,
	    map: map,
	    title:"You are here"
	});

	google.maps.event.addListener(marker, 'click', function() {
	  infowindow.open(map,marker);
	});
	
}

	
</script>

<div id="current">Map not available</div>
<div id="report_map" class="grid_10"></div>

</div>
