<div id="similar_reports" class="grid_10">

<script>
  $(document).ready(function(){
    var myOptions = {
	      zoom: 4,
	      mapTypeControl: true,
	      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
	      navigationControl: true,
	      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
	      mapTypeId: google.maps.MapTypeId.ROADMAP      
	    }	
  	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  	
  	initialize();
	});
	
function initialize()
{
	if(geo_position_js.init())
	{
		document.getElementById('current').innerHTML="Receiving...";
		geo_position_js.getCurrentPosition(show_position,function(){document.getElementById('current').innerHTML="Couldn't get location"},{enableHighAccuracy:true});
	}
	else
	{
		document.getElementById('current').innerHTML="Functionality not available";
	}
}

function show_position(p)
{
	<%#document.getElementById('current').innerHTML="latitude="+p.coords.latitude.toFixed(2)+" longitude="+p.coords.longitude.toFixed(2);%>
  geocoder = new google.maps.Geocoder();
  $('#report_lat').val(p.coords.latitude);
  $('#report_lon').val(p.coords.longitude);
  var pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);

  geocoder.geocode({'latLng': pos}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      $('#report_address').val(results[1].formatted_address);
    }
  });
   map.setCenter(pos);
	map.setZoom(14);

	var infowindow = new google.maps.InfoWindow({
	    content: "<strong>yes</strong>"
	});
	var marker = new google.maps.Marker({
	    position: pos,
	    map: map,
	    title:"You are here"
	});

	google.maps.event.addListener(marker, 'click', function() {
	  infowindow.open(map,marker);
	});
	
}

	
</script>

<div id="current">TODO</div>
<div id="map_canvas" class="grid_10" style="height:350px"></div>

</div>
